.formulario-campos, .texto-cadastro{
align-items: center;
max-width: 300px;
text-align: center;
width:100%;
border-radius: 10px;
padding: 10px;
margin:auto;

}

.tela-cadastro{
  max-width: 400px;
  background-color: rgb(210, 238, 245);
  margin: auto;
  margin-top: 10rem;
  border-radius: 25px;
}