    <div class="tela-cadastro">
	    <h4 class="texto-cadastro">Cadastre-se</h4>
	<form>
	<!--Nome-->
	<div class="formulario-campos">
        <input name="" class="form-control" placeholder="Nome Completo" type="text" >
	</div>
	
	<!--E-mail-->
    <div class="formulario-campos">
    	<div class="input-group-prepend">
		 </div>
        <input name="" class="form-control" placeholder="E-mail" type="email">
	</div>
	
	<!--Senha-->
    <div class="formulario-campos">
    	<div class="input-group-prepend">
		</div>
        <input class="form-control" placeholder="Crie uma senha" type="password">
	</div>
	
	<!-- Repetir senha -->
    <div class="formulario-campos">
    	<div class="input-group-prepend">
		</div>
        <input class="form-control" placeholder="Repita a senha" type="password">
	</div> 
	
	                                
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
	</div>

    <p class="text-center">Já tem uma conta? <a href="">Entre</a> </p>                                                                 
</form>
</div>