
<div *ngIf="loading" class="spinner-border m-5" role="status" >
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="spinner-border text-center" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

  <h2 *ngIf="errorOnLoading" >Desculpa te decepcionar, mas ocorreu um erro :(</h2>
  <table *ngIf="!loading && !errorOnLoading" class="table">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">e-mail</th>
        <th scope="col">Detalhes</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuarios of usuario" class="text-center">
        <td>{{usuarios.id}}</td>
        <td>{{usuarios.nick}}</td>
        <td> {{usuarios.cpf}} </td>
        <td> {{usuarios.email}} </td>
        <td><button (click)="goToDetails(usuarios.id)" class="btn btn-outline-dark">Ver Detalhes</button></td>
        <td><button (click)="deletar(usuarios.id)" class="btn btn-outline-danger">Apagar</button></td>
      </tr>  
  </table>

  <div *ngIf="!loading && !errorOnLoading" class="btn-group pagination justify-content-center " role="group" >
    <nav >
      <ul>
        <button [disabled]="page===1" (click)="prev()" class="btn btn-outline-dark">Página Anterior</button>
        <button (click)="next()" class="btn btn-outline-dark">Próxima Página</button>
      </ul>
      
    </nav>
    <ul><button (click)="onClick()" class="btn btn-outline-danger ">Sair</button></ul>
      
  </div>


    

